body {
  background-color: rgb(235, 235, 235);
  margin: 0px;
  padding: 0px;
}

.quote {
  height: 90px;
  width: 300px;
  padding: 25px;
  border-radius: 22px;
  border: 4px solid aquamarine;
}

.our_vision {
}
