html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: rgb(190, 190, 190);
  margin: 0px;
  padding: 0px;
}
img {
  width: 100%;
}

.column {
  float: left;
  width: 25%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.quote {
  height: 100px;
  width: 100vw;
  margin-top: -23px;
  background-color: #ff2200e3;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-align: center;
  font-size: larger;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.our_vision {
  height: 120px;
  width: 100vw;
  background-color: rgb(14, 5, 48);
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-align: center;
  margin-top: -5px;
  font-size: x-large;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.earth {
  width: 100vw;
}
/*NAVIGATION BAR*/
.navigation_bar {
  background-color: black;
  height: 50px;
  width: 100vw;
  margin-top: -16px;
}

.navigation_bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation_bar ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.7%;
  font-size: 1.6rem;
}

.navigation_bar ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease 0s;
  text-shadow: 2px 2px rgb(22, 22, 22);
}

.navigation_bar ul li a:hover {
  color: red;
  text-decoration: underline;
}

.container {
  position: relative;
  text-align: center;
}

/*ARTICLES*/
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.art {
  height: 315px;
  width: 25%;
  border: 2px groove black;
  position: relative;
  background-color: white;
  margin: 15px;
  color: black;
}
h1 {
  font-size: x-large;
  font-weight: 520;
}

#art_title {
  position: absolute;
  top: 8;
  left: 0;
  font-size: large;
  margin-left: 3px;
}

#posted {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: small;
  margin-left: 3px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ff2200e3;
}

.footer {
  width: 100vw;
  height: 70px;
  background-color: #ff2200e3;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: larger;
  color: #ffffffe3;
  text-align: center;
}
.button {
  color: #ffffffe3;
  margin-left: 500px;
  margin-right: 500px;
  font-size: larger;
}
.button:hover {
  color: rgb(0, 81, 255);
  text-decoration: underline;
}
.giphy-embed {
  justify-content: center;
  align-items: center;
}
.cham {
  height: 40px;
  width: 40px;
  margin-top: 10px;
}

.sage {
  height: 42px;
  width: 42px;
  margin-top: 10px;
}
