body {
  background-color: rgb(212, 212, 212);
  margin: 0px;
  padding: 0px;
}

.column {
  float: left;
  width: 25%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.quote {
  height: 90px;
  width: 300px;
  padding: 25px;
  border-radius: 22px;
  border: 5px solid aquamarine;
  background-color: white;
  color: black;
  font-weight: 500;
  text-align: center;
}

.our_vision {
  border-radius: 22px;
  border: 5px solid crimson;
  padding: 25px;
  height: 80px;
  width: 270px;
  background-color: white;
  color: black;
  font-weight: 500;
  text-align: center;
}
/*NAVIGATION BAR*/
.navigation_bar {
  background-color: black;
  height: 50px;
  width: 100vw;
  margin-top: -16px;
}

.navigation_bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation_bar ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.7%;
  font-size: 1.6rem;
}

.navigation_bar ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease 0s;
  text-shadow: 2px 2px rgb(22, 22, 22);
}

.navigation_bar ul li a:hover {
  color: red;
  text-decoration: underline;
}
