body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
}

/*NAVIGATION BAR*/
.navigation_bar {
  background-color: black;
  height: 50px;
  width: 100vw;
  margin-top: -16px;
}

.navigation_bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation_bar ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.7%;
  font-size: 1.6rem;
}

.navigation_bar ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease 0s;
  text-shadow: 2px 2px rgb(22, 22, 22);
}

.navigation_bar ul li a:hover {
  color: red;
  text-decoration: underline;
}
.tomato_background {
  background-color: #ff2200e3;
  height: 200px;
  width: 100vw;
}
/*Questions and titles */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: -80px;
  color: white;
}

.content {
  width: 50%;
  margin-left: 25%;
  margin-top: 60px;
  font-size: larger;
  font-weight: 540;
}

h1 {
  font-size: larger;
}
